* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #c6c5d9;
}

.header {
  background-color: #484a73;
  color: #ffffff;
  padding: 12px 0;
  text-align: center;
  font-size: 25px;
}

.header > h2 {
  margin: 0;
}

.menu-and-content-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.menu-container {
  display: block;
}

.nav--menu {
  height: 85vh;
  overflow-y: scroll;

  font-family: verdana;
  font-size: 12px;
  background-color: #7578bf;
  color: #e1ffff;
}

.nav--menu .brand {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 7px 0;
}

.nav--menu ul,
.nav--menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.nav--menu li {
  margin: 0;
  padding: 2px 5px 2px 3px;
  font-size: 14px;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.nav--menu li:hover {
  white-space: normal;
  box-shadow: inset 0 0 25px #484a73;
}

.selected {
  background-color: #484a73;
}

.nav--menu li a {
  text-decoration: none;
  color: #e1ffff;
}

.middle {
  font-family: "Helvetica", sans-serif;
  padding: 0 20% 0 10px;
}

/* .middle p {
  font-size: 16px;
} */

.image {
  border: 2px solid black;
  width: 400px;
  height: 220px;
}
.image1 {
  border: 2px solid black;
  width: 300px;
  height: 200px;
}
.image2 {
  border: 2px solid black;
  width: 300px;
  height: 300px;
}
.image3 {
  border: 2px solid black;
  width: 450px;
  height: 300px;
}
.image4 {
  border: 2px solid black;
  width: 600px;
  height: 400px;
}
.image-code {
  border: 1px solid black;
  width: 400px;
  height: 150px;
}
.image-code1 {
  border: 1px solid black;
  width: 450px;
  height: 150px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
}
td,
th {
  text-align: left;
  padding: 5px;
}
th[scope="row"] {
  background-color: #d7d9f2;
}

.example2 {
  box-shadow: 50px;
  width: 500px;
  height: 190px;
  background-color: #ffd384;
  border: 15px solid #f57328;
  padding: 12px;
}
.example {
  box-shadow: 50px;
  width: 500px;
  height: 220px;
  background-color: #ffd384;
  border: 15px solid #f57328;
  padding: 12px;
}
.example1 {
  box-shadow: 50px;
  width: 500px;
  height: 320px;
  background-color: #ffd384;
  border: 15px solid #f57328;
  padding: 12px;
}
.example3 {
  box-shadow: 50px;
  width: 500px;
  height: 400px;
  background-color: #ffd384;
  border: 15px solid #f57328;
  padding: 12px;
}
.example4 {
  box-shadow: 50px;
  width: 500px;
  height: 650px;
  background-color: #ffd384;
  border: 15px solid #f57328;
  padding: 12px;
}

.exampless {
  background-color: #f7f7f7;
  width: auto;
}

.exampless > tr {
  margin-bottom: 2;
}

.output {
  background-color: black;
  width: auto;
  color: white;
}

.table-of-contents-btn-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 22px;
  }

  .table-of-contents-btn-container {
    display: block;
  }

  .table-of-contents-btn > span {
    height: 5px;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
  }

  .table-of-contents-btn {
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #7578bf, #484a73);
    border: none;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;

    position: absolute;
    top: 0;
    left: 0;

    transition: all 0.5s ease;
  }

  .menu-and-content-container {
    display: block;
  }

  .menu-container {
    position: absolute;
    z-index: 2;
    width: 0;

    transition: all 0.5s ease;
  }

  .menu-active {
    width: 60%;
  }

  .push-tocb-right {
    left: 50%;
    z-index: 3;
  }

  .middle {
    position: relative;
    padding: 0 10%;
    font-family: "Helvetica", sans-serif;
  }

  .middle > h2 {
    padding: 0;
    margin: 0;
  }

  .image {
    border: 2px solid black;
    width: 300px;
    height: 180px;
  }

  .image1 {
    border: 2px solid black;
    width: 300px;
    height: 200px;
  }

  .image2 {
    border: 2px solid black;
    width: 200px;
    height: 200px;
  }

  .image3 {
    border: 2px solid black;
    width: 400px;
    height: 250px;
  }

  .image4 {
    border: 2px solid black;
    width: 470px;
    height: 300px;
  }

  .nav--menu .menu-content {
    background-color: #b73e3c;
  }
  .middle table {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .menu-active {
    width: 70%;
  }
  .middle {
    padding: 0 12%;
}
